---
swagger: "2.0"
info:
  description: "This document describes Uptrends API version 4. This Swagger environment\
    \ also lets you execute API methods directly.\n\nPlease note that this is not\
    \ a sandbox environment: these API methods operate directly on your actual Uptrends\
    \ account.\n\nFor more information, please visit https://www.uptrends.com/api."
  version: "1.0.0"
  title: "Uptrends API v4"
host: "api.uptrends.com"
basePath: "/v4"
tags:
- name: "Timezone"
  description: "Timezone operations"
- name: "Checkpoint"
  description: "Retrieving checkpoints and checkpoint servers"
- name: "RUM"
  description: "Getting RUM data"
- name: "Account"
  description: "Getting account data"
- name: "Dashboard"
  description: "Modifying dashboards"
- name: "PublicStatusPage"
  description: "Modifying public status pages"
- name: "ScheduledReport"
  description: "Modifying scheduled reports"
- name: "SLA"
  description: "Getting SLA data"
- name: "Statistics"
  description: "Retrieving statistics data"
- name: "Alert"
  description: "Getting alert data"
- name: "Integration"
  description: "Retrieving integrations"
- name: "Status"
  description: "Retrieving status"
- name: "AlertDefinition"
  description: "Modifying alert definitions"
- name: "MonitorGroup"
  description: "Working with monitor groups"
- name: "Operator"
  description: "Working with operators"
- name: "OutgoingPhoneNumber"
  description: "Outgoing phone number operations"
- name: "OperatorGroup"
  description: "Working with operator groups"
- name: "MonitorCheck"
  description: "Getting monitor check data"
- name: "Monitor"
  description: "Modifying monitors"
- name: "Register"
  description: "Creating a new API account"
- name: "Vault"
  description: "Vault operations"
schemes:
- "https"
consumes:
- "application/json"
- "application/xml"
produces:
- "application/json"
- "application/xml"
paths:
  /Timezone:
    get:
      tags:
      - "Timezone"
      summary: "Gets all timezones available."
      operationId: "Timezone_GetAllTimezones"
      parameters: []
      responses:
        "200":
          description: "The request completed successfully."
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Timezone"
          x-nullable: false
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
  /Timezone/{timezoneId}:
    get:
      tags:
      - "Timezone"
      summary: "Gets the timezone with the specified Id."
      operationId: "Timezone_GetTimezoneById"
      parameters:
      - name: "timezoneId"
        in: "path"
        required: true
        type: "integer"
        x-nullable: false
        x-exportParamName: "TimezoneId"
      responses:
        "200":
          description: "The request completed successfully."
          schema:
            $ref: "#/definitions/Timezone"
          x-nullable: false
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
  /PrivateCheckpointHealth:
    get:
      tags:
      - "Checkpoint"
      summary: "Returns the status of the specified private checkpoints."
      operationId: "PrivateCheckpointHealth_GetSpecifiedPrivateCheckpointHealth"
      parameters:
      - name: "filter"
        in: "query"
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "Filter"
        x-optionalDataType: "String"
      security:
      - basicauth:
        - ""
      responses:
        "200":
          description: "The request completed successfully."
          schema:
            $ref: "#/definitions/CheckpointsHealth"
          x-nullable: false
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "404":
          description: "No private checkpoints could be found."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
  /PrivateCheckpointHealthForRegion:
    get:
      tags:
      - "Checkpoint"
      summary: "Returns the status of the private checkpoints in the given region."
      operationId: "PrivateCheckpointHealth_GetPrivateCheckpointHealthForRegion"
      parameters:
      - name: "regionId"
        in: "query"
        description: "The id of the region."
        required: true
        type: "integer"
        format: "int32"
        x-nullable: false
        x-exportParamName: "RegionId"
      security:
      - basicauth:
        - ""
      responses:
        "200":
          description: "The request completed successfully."
          schema:
            $ref: "#/definitions/CheckpointsHealth"
          x-nullable: false
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "404":
          description: "No private checkpoints could be found."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
  /Rum/Website:
    get:
      tags:
      - "RUM"
      summary: "Returns the definition of all RUM websites available in the account."
      operationId: "Rum_GetRumWebsites"
      parameters: []
      security:
      - basicauth:
        - ""
      responses:
        "200":
          description: "The request completed successfully."
          schema:
            type: "array"
            items:
              $ref: "#/definitions/RumWebsite"
          x-nullable: false
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
  /Rum/Website/{rumWebsiteGuid}/Metrics:
    get:
      tags:
      - "RUM"
      summary: "Returns all metrics of the specified RUM website."
      operationId: "Rum_GetRumWebsiteMetrics"
      parameters:
      - name: "rumWebsiteGuid"
        in: "path"
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "RumWebsiteGuid"
      - name: "Start"
        in: "query"
        description: "The start of a custom period (can't be used together with the\
          \ PresetPeriod parameter)"
        required: false
        x-nullable: true
        x-exportParamName: "Start"
      - name: "End"
        in: "query"
        description: "The end of a custom period"
        required: false
        x-nullable: true
        x-exportParamName: "End"
      - name: "PresetPeriod"
        in: "query"
        description: "The requested time period."
        required: false
        type: "string"
        default: "Last24Hours"
        enum:
        - "CurrentDay"
        - "CurrentWeek"
        - "CurrentMonth"
        - "CurrentQuarter"
        - "CurrentYear"
        - "PreviousDay"
        - "PreviousWeek"
        - "PreviousMonth"
        - "PreviousQuarter"
        - "PreviousYear"
        - "Last2Hours"
        - "Last6Hours"
        - "Last12Hours"
        - "Last24Hours"
        - "Last48Hours"
        - "Last7Days"
        - "Last30Days"
        - "Last60Days"
        - "Last90Days"
        - "Last365Days"
        - "Last3Months"
        - "Last6Months"
        - "Last12Months"
        - "Last24Months"
        - "All"
        x-schema:
          $ref: "#/definitions/PresetPeriodType"
        x-nullable: true
        x-exportParamName: "PresetPeriod"
        x-optionalDataType: "String"
      security:
      - basicauth:
        - ""
      responses:
        "200":
          description: "The request completed successfully."
          schema:
            type: "array"
            items:
              $ref: "#/definitions/RumMetricValues"
          x-nullable: false
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "404":
          description: "The specified RUM website was not found."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
  /Rum/Website/Metrics:
    get:
      tags:
      - "RUM"
      summary: "Returns all metrics of all RUM websites."
      operationId: "Rum_GetRumMetricsForAllWebsites"
      parameters:
      - name: "WebsiteFilter"
        in: "query"
        description: "A search pattern to filter for matching RUM website descriptions.\
          \ Wildcards (? and *) are allowed.\nTo filter for multiple patterns, use\
          \ the | symbol as separator."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "WebsiteFilter"
        x-optionalDataType: "String"
      - name: "Start"
        in: "query"
        description: "The start of a custom period (can't be used together with the\
          \ PresetPeriod parameter)"
        required: false
        x-nullable: true
        x-exportParamName: "Start"
      - name: "End"
        in: "query"
        description: "The end of a custom period"
        required: false
        x-nullable: true
        x-exportParamName: "End"
      - name: "PresetPeriod"
        in: "query"
        description: "The requested time period."
        required: false
        type: "string"
        default: "Last24Hours"
        enum:
        - "CurrentDay"
        - "CurrentWeek"
        - "CurrentMonth"
        - "CurrentQuarter"
        - "CurrentYear"
        - "PreviousDay"
        - "PreviousWeek"
        - "PreviousMonth"
        - "PreviousQuarter"
        - "PreviousYear"
        - "Last2Hours"
        - "Last6Hours"
        - "Last12Hours"
        - "Last24Hours"
        - "Last48Hours"
        - "Last7Days"
        - "Last30Days"
        - "Last60Days"
        - "Last90Days"
        - "Last365Days"
        - "Last3Months"
        - "Last6Months"
        - "Last12Months"
        - "Last24Months"
        - "All"
        x-schema:
          $ref: "#/definitions/PresetPeriodType"
        x-nullable: true
        x-exportParamName: "PresetPeriod"
        x-optionalDataType: "String"
      security:
      - basicauth:
        - ""
      responses:
        "200":
          description: "The request completed successfully."
          schema:
            type: "array"
            items:
              $ref: "#/definitions/RumWebsiteWithMetricValues"
          x-nullable: false
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
  /Account:
    get:
      tags:
      - "Account"
      summary: "Returns the account statistics."
      operationId: "Account_GetAccountStatistics"
      parameters: []
      security:
      - basicauth:
        - ""
      responses:
        "200":
          description: "Request completed successfully."
          schema:
            $ref: "#/definitions/AccountStatistics"
          x-nullable: false
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
  /Account/Settings:
    get:
      tags:
      - "Account"
      summary: "Returns account general settings."
      operationId: "Account_GetSettings"
      parameters: []
      security:
      - basicauth:
        - ""
      responses:
        "200":
          description: "Request completed successfully."
          schema:
            $ref: "#/definitions/AccountSettings"
          x-nullable: false
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
  /CheckpointRegion:
    get:
      tags:
      - "Checkpoint"
      summary: "Returns all the checkpoint regions."
      operationId: "CheckpointRegion_GetAllCheckpointRegions"
      parameters: []
      security:
      - basicauth:
        - ""
      responses:
        "200":
          description: "The request completed successfully."
          schema:
            type: "array"
            items:
              $ref: "#/definitions/CheckpointRegion"
          x-nullable: false
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
  /CheckpointRegion/{checkpointRegionId}:
    get:
      tags:
      - "Checkpoint"
      summary: "Returns the specified checkpoint region."
      operationId: "CheckpointRegion_GetSpecifiedCheckpointRegion"
      parameters:
      - name: "checkpointRegionId"
        in: "path"
        description: "The id for the specified checkpoint region."
        required: true
        type: "integer"
        x-nullable: false
        x-exportParamName: "CheckpointRegionId"
      security:
      - basicauth:
        - ""
      responses:
        "200":
          description: "The request completed successfully."
          schema:
            $ref: "#/definitions/CheckpointRegion"
          x-nullable: false
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "404":
          description: "The checkpoint region could not be found."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
  /CheckpointRegion/{checkpointRegionId}/Checkpoint:
    get:
      tags:
      - "Checkpoint"
      summary: "Returns the checkpoints for the specified checkpoint region."
      operationId: "CheckpointRegion_GetCheckpointRegionCheckpoints"
      parameters:
      - name: "checkpointRegionId"
        in: "path"
        description: "The id for the specified checkpoint region."
        required: true
        type: "integer"
        x-nullable: false
        x-exportParamName: "CheckpointRegionId"
      security:
      - basicauth:
        - ""
      responses:
        "200":
          description: "The request completed successfully."
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Checkpoint"
          x-nullable: false
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "404":
          description: "The checkpoint region could not be found."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
  /Dashboard:
    get:
      tags:
      - "Dashboard"
      summary: "Returns data for all dashboards."
      operationId: "Dashboard_GetAllDashboards"
      parameters: []
      security:
      - basicauth:
        - ""
      responses:
        "200":
          description: "The request completed successfully."
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Dashboard"
          x-nullable: false
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
  /Dashboard/{dashboardGuid}:
    get:
      tags:
      - "Dashboard"
      summary: "Returns data for the specified dashboard."
      operationId: "Dashboard_GetOneDashboard"
      parameters:
      - name: "dashboardGuid"
        in: "path"
        description: "The guid of the specified dashboard."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "DashboardGuid"
      security:
      - basicauth:
        - ""
      responses:
        "200":
          description: "The request completed successfully."
          schema:
            $ref: "#/definitions/Dashboard"
          x-nullable: false
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "404":
          description: "The specified dashboard could not be found."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
    put:
      tags:
      - "Dashboard"
      summary: "Update the specified dashboard."
      operationId: "Dashboard_UpdateDashboard"
      parameters:
      - name: "dashboardGuid"
        in: "path"
        description: "The guid of the specified dashboard."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "DashboardGuid"
      - in: "body"
        name: "dashboard"
        description: "The details for the dashboard."
        required: false
        schema:
          $ref: "#/definitions/Dashboard"
        x-nullable: true
        x-exportParamName: "Dashboard"
      security:
      - basicauth:
        - ""
      responses:
        "204":
          description: "The request completed successfully."
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "404":
          description: "One or more of the specified entities could not be found."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
    delete:
      tags:
      - "Dashboard"
      summary: "Delete the specified dashboard."
      operationId: "Dashboard_DeleteDashboard"
      parameters:
      - name: "dashboardGuid"
        in: "path"
        description: "The guid of the specified dashboard."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "DashboardGuid"
      security:
      - basicauth:
        - ""
      responses:
        "204":
          description: "The request completed successfully."
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "404":
          description: "The specified dashboard could not be found."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
    patch:
      tags:
      - "Dashboard"
      summary: "Partially update the specified dashboard."
      operationId: "Dashboard_PartiallyUpdateDashboard"
      parameters:
      - name: "dashboardGuid"
        in: "path"
        description: "The guid of the specified dashboard."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "DashboardGuid"
      - in: "body"
        name: "dashboard"
        description: "The details for the dashboard."
        required: false
        schema:
          $ref: "#/definitions/Dashboard"
        x-nullable: true
        x-exportParamName: "Dashboard"
      security:
      - basicauth:
        - ""
      responses:
        "204":
          description: "The request completed successfully."
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "404":
          description: "One or more of the specified entities could not be found."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
  /Dashboard/{dashboardGuid}/Clone:
    post:
      tags:
      - "Dashboard"
      summary: "Clone the specified dashboard."
      operationId: "Dashboard_CloneDashboard"
      parameters:
      - name: "dashboardGuid"
        in: "path"
        description: "The guid of the specified dashboard."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "DashboardGuid"
      security:
      - basicauth:
        - ""
      responses:
        "201":
          description: "The request completed successfully."
          schema:
            $ref: "#/definitions/Dashboard"
          x-nullable: false
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "404":
          description: "The specified dashboard could not be found."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
  /PublicStatusPage:
    get:
      tags:
      - "PublicStatusPage"
      summary: "Returns the definition of all public status pages available in the\
        \ account."
      operationId: "PublicStatusPage_GetPublicStatusPages"
      parameters: []
      security:
      - basicauth:
        - ""
      responses:
        "200":
          description: "The request completed successfully."
          schema:
            type: "array"
            items:
              $ref: "#/definitions/PublicStatusPage"
          x-nullable: false
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
    post:
      tags:
      - "PublicStatusPage"
      summary: "Creates a new public status page."
      operationId: "PublicStatusPage_PostPublicStatusPage"
      parameters:
      - in: "body"
        name: "publicStatusPage"
        description: "The complete definition for the public status page that should\
          \ be updated."
        required: false
        schema:
          $ref: "#/definitions/PublicStatusPage"
        x-nullable: true
        x-exportParamName: "PublicStatusPage"
      security:
      - basicauth:
        - ""
      responses:
        "201":
          description: "The request completed successfully."
          schema:
            $ref: "#/definitions/PublicStatusPage"
          x-nullable: false
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "404":
          description: "The specified public status page does not exist."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
  /PublicStatusPage/{publicStatusPageGuid}:
    get:
      tags:
      - "PublicStatusPage"
      summary: "Returns the definition of the specified public status page."
      operationId: "PublicStatusPage_GetPublicStatusPage"
      parameters:
      - name: "publicStatusPageGuid"
        in: "path"
        description: "The Guid of the requested public status page."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "PublicStatusPageGuid"
      security:
      - basicauth:
        - ""
      responses:
        "200":
          description: "The request completed successfully."
          schema:
            $ref: "#/definitions/PublicStatusPage"
          x-nullable: false
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "404":
          description: "The specified public status page does not exist."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
    put:
      tags:
      - "PublicStatusPage"
      summary: "Updates the definition of the specified public status page."
      description: "This methods only accepts a complete public status page definition.\
        \ We recommend retrieving the existing definition first (using the GET method).\
        \ You can then process the changes you want to make and send back the updated\
        \ definition using this PUT method."
      operationId: "PublicStatusPage_PutPublicStatusPage"
      parameters:
      - in: "body"
        name: "publicStatusPage"
        description: "The complete definition for the public status page that should\
          \ be updated."
        required: false
        schema:
          $ref: "#/definitions/PublicStatusPage"
        x-nullable: true
        x-exportParamName: "PublicStatusPage"
      - name: "publicStatusPageGuid"
        in: "path"
        description: "The Guid of the public status page that should be updated."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "PublicStatusPageGuid"
      security:
      - basicauth:
        - ""
      responses:
        "204":
          description: "The request was successful. No content is returned."
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "404":
          description: "The specified public status page does not exist."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
    delete:
      tags:
      - "PublicStatusPage"
      summary: "Deletes the definition of the specified public status page."
      operationId: "PublicStatusPage_DeletePublicStatusPage"
      parameters:
      - name: "publicStatusPageGuid"
        in: "path"
        description: "The Guid of the public status page that should be updated."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "PublicStatusPageGuid"
      security:
      - basicauth:
        - ""
      responses:
        "204":
          description: "The request was successful. No content is returned."
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "404":
          description: "The specified public status page does not exist."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
    patch:
      tags:
      - "PublicStatusPage"
      summary: "Partially updates the definition of the specified public status page."
      description: "This methods accepts parts of a public status page definition.\
        \ We recommend retrieving the existing definition first (using the GET method).\
        \ You can then process the changes you want to make and send back these changes\
        \ only using this PATCH method."
      operationId: "PublicStatusPage_PatchPublicStatusPage"
      parameters:
      - in: "body"
        name: "publicStatusPage"
        description: "The partial definition for the public status page that should\
          \ be updated."
        required: false
        schema:
          $ref: "#/definitions/PublicStatusPage"
        x-nullable: true
        x-exportParamName: "PublicStatusPage"
      - name: "publicStatusPageGuid"
        in: "path"
        description: "The Guid of the public status page that should be updated."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "PublicStatusPageGuid"
      security:
      - basicauth:
        - ""
      responses:
        "204":
          description: "The request was successful. No content is returned."
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "404":
          description: "The specified public status page does not exist."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
  /PublicStatusPage/{publicStatusPageGuid}/Authorization:
    get:
      tags:
      - "PublicStatusPage"
      summary: "Returns all authorizations for the specified public status page."
      operationId: "PublicStatusPage_GetAuthorizationsForPublicStatusPage"
      parameters:
      - name: "publicStatusPageGuid"
        in: "path"
        description: "The Guid of the public status page."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "PublicStatusPageGuid"
      security:
      - basicauth:
        - ""
      responses:
        "200":
          description: "The request was successful. No content is returned."
          schema:
            type: "array"
            items:
              $ref: "#/definitions/PSPAuthorization"
          x-nullable: false
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "404":
          description: "The specified public status page does not exist."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
    post:
      tags:
      - "PublicStatusPage"
      summary: "Creates a new authorization for the specified public status page."
      description: "The AuthorizationId attribute should be omitted in the request\
        \ body. The newly created authorization will be returned in the response.\
        \ An authorization should be granted to either an individual operator, or\
        \ an operator group. Therefore, either specify the OperatorGuid attribute\
        \ or the OperatorGroupGuid attribute."
      operationId: "PublicStatusPage_AddAuthorizationToPublicStatusPage"
      parameters:
      - name: "publicStatusPageGuid"
        in: "path"
        description: "The Guid of the public status page."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "PublicStatusPageGuid"
      - in: "body"
        name: "authorization"
        description: "The complete definition of the authorization that should be\
          \ created."
        required: false
        schema:
          $ref: "#/definitions/PSPAuthorization"
        x-nullable: true
        x-exportParamName: "Authorization"
      security:
      - basicauth:
        - ""
      responses:
        "200":
          description: "The request was successful."
          schema:
            $ref: "#/definitions/PSPAuthorization"
          x-nullable: false
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "404":
          description: "The specified public status page does not exist.\nor\nThe\
            \ specified operator does not exist.\nor\nThe specified operator group\
            \ does not exist."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
          x-expectedSchemas:
          - description: "The specified public status page does not exist."
            schema:
              $ref: "#/definitions/MessageList"
          - description: "The specified operator does not exist."
            schema:
              $ref: "#/definitions/MessageList"
          - description: "The specified operator group does not exist."
            schema:
              $ref: "#/definitions/MessageList"
  /PublicStatusPage/{publicStatusPageGuid}/Authorization/{authorizationGuid}:
    delete:
      tags:
      - "PublicStatusPage"
      summary: "Removes an authorization from a public status page."
      operationId: "PublicStatusPage_RemoveAuthorizationFromPublicStatusPage"
      parameters:
      - name: "publicStatusPageGuid"
        in: "path"
        description: "The Guid of the public status page."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "PublicStatusPageGuid"
      - name: "authorizationGuid"
        in: "path"
        description: "The Guid of the authorization."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "AuthorizationGuid"
      security:
      - basicauth:
        - ""
      responses:
        "204":
          description: "The request was successful. No content is returned."
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "404":
          description: "The specified public status page does not exist.\nor\nThe\
            \ specified authorization does not exist."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
          x-expectedSchemas:
          - description: "The specified public status page does not exist."
            schema:
              $ref: "#/definitions/MessageList"
          - description: "The specified authorization does not exist."
            schema:
              $ref: "#/definitions/MessageList"
  /ScheduledReport:
    get:
      tags:
      - "ScheduledReport"
      summary: "Returns data for all scheduled reports."
      operationId: "ScheduledReport_GetAllScheduledReports"
      parameters: []
      security:
      - basicauth:
        - ""
      responses:
        "200":
          description: "The request completed successfully."
          schema:
            type: "array"
            items:
              $ref: "#/definitions/ScheduledReport"
          x-nullable: false
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
    post:
      tags:
      - "ScheduledReport"
      summary: "Creates a new scheduled report."
      operationId: "ScheduledReport_CreateScheduledReport"
      parameters:
      - in: "body"
        name: "scheduledReport"
        description: "The details for the scheduled report."
        required: false
        schema:
          $ref: "#/definitions/ScheduledReport"
        x-nullable: true
        x-exportParamName: "ScheduledReport"
      security:
      - basicauth:
        - ""
      responses:
        "201":
          description: "The request completed successfully."
          schema:
            $ref: "#/definitions/ScheduledReport"
          x-nullable: false
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
  /ScheduledReport/{scheduledReportGuid}:
    get:
      tags:
      - "ScheduledReport"
      summary: "Returns data for the specified scheduled report."
      operationId: "ScheduledReport_GetSpecifiedScheduledReport"
      parameters:
      - name: "scheduledReportGuid"
        in: "path"
        description: "The guid of the specified scheduled report."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "ScheduledReportGuid"
      security:
      - basicauth:
        - ""
      responses:
        "200":
          description: "The request completed successfully."
          schema:
            $ref: "#/definitions/ScheduledReport"
          x-nullable: false
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "404":
          description: "One or more of the specified entities could not be found."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
    put:
      tags:
      - "ScheduledReport"
      summary: "Update the specified scheduled report."
      operationId: "ScheduledReport_UpdateScheduledReport"
      parameters:
      - name: "scheduledReportGuid"
        in: "path"
        description: "The guid of the specified scheduled report."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "ScheduledReportGuid"
      - in: "body"
        name: "scheduledReport"
        description: "The details for the scheduled report."
        required: false
        schema:
          $ref: "#/definitions/ScheduledReport"
        x-nullable: true
        x-exportParamName: "ScheduledReport"
      security:
      - basicauth:
        - ""
      responses:
        "204":
          description: "The request completed successfully."
          schema:
            $ref: "#/definitions/ScheduledReport"
          x-nullable: false
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "404":
          description: "One or more of the specified entities could not be found."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
    delete:
      tags:
      - "ScheduledReport"
      summary: "Delete the specified scheduled report."
      operationId: "ScheduledReport_DeleteSpecifiedScheduledReport"
      parameters:
      - name: "scheduledReportGuid"
        in: "path"
        description: "The guid of the specified scheduled report."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "ScheduledReportGuid"
      security:
      - basicauth:
        - ""
      responses:
        "204":
          description: "The request completed successfully."
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "404":
          description: "One or more of the specified entities could not be found."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
    patch:
      tags:
      - "ScheduledReport"
      summary: "Partially update the specified scheduled report."
      operationId: "ScheduledReport_PartiallyUpdateScheduledReport"
      parameters:
      - name: "scheduledReportGuid"
        in: "path"
        description: "The guid of the specified scheduled report."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "ScheduledReportGuid"
      - in: "body"
        name: "scheduledReport"
        description: "The details for the scheduled report."
        required: false
        schema:
          $ref: "#/definitions/ScheduledReport"
        x-nullable: true
        x-exportParamName: "ScheduledReport"
      security:
      - basicauth:
        - ""
      responses:
        "204":
          description: "The request completed successfully."
          schema:
            $ref: "#/definitions/ScheduledReport"
          x-nullable: false
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "404":
          description: "One or more of the specified entities could not be found."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
  /Sla:
    get:
      tags:
      - "SLA"
      summary: "Gets a list of all SLA definitions."
      operationId: "Sla_GetSlas"
      parameters: []
      security:
      - basicauth:
        - ""
      responses:
        "200":
          description: "The request completed successfully."
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Sla"
          x-nullable: false
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
    post:
      tags:
      - "SLA"
      summary: "Creates a new SLA."
      operationId: "Sla_CreateSla"
      parameters:
      - in: "body"
        name: "sla"
        description: "The complete SLA definition that should be created."
        required: false
        schema:
          $ref: "#/definitions/Sla"
        x-nullable: true
        x-exportParamName: "Sla"
      security:
      - basicauth:
        - ""
      responses:
        "201":
          description: "The request completed successfully."
          schema:
            $ref: "#/definitions/Sla"
          x-nullable: false
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "403":
          description: "One or more validation errors occurred."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
  /Sla/{slaGuid}:
    get:
      tags:
      - "SLA"
      summary: "Gets the specified SLA definition."
      operationId: "Sla_GetSla"
      parameters:
      - name: "slaGuid"
        in: "path"
        description: "The Guid of the SLA definition."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "SlaGuid"
      security:
      - basicauth:
        - ""
      responses:
        "200":
          description: "The request completed successfully."
          schema:
            $ref: "#/definitions/Sla"
          x-nullable: false
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "403":
          description: "One or more validation errors occurred."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "404":
          description: "The specified sla does not exist."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
    put:
      tags:
      - "SLA"
      summary: "Updates the definition of the specified SLA."
      description: "This methods only accepts a complete SLA definition. We recommend\
        \ retrieving the existing definition first (using the GET method). You can\
        \ then process the changes you want to make and send back the updated definition\
        \ using this PUT method."
      operationId: "Sla_PutSla"
      parameters:
      - in: "body"
        name: "sla"
        description: "The complete definition for the SLA that should be updated."
        required: false
        schema:
          $ref: "#/definitions/Sla"
        x-nullable: true
        x-exportParamName: "Sla"
      - name: "slaGuid"
        in: "path"
        description: "The Guid of the SLA that should be updated."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "SlaGuid"
      security:
      - basicauth:
        - ""
      responses:
        "204":
          description: "The request was successful. No content is returned."
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "404":
          description: "The specified SLA does not exist."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
    delete:
      tags:
      - "SLA"
      summary: "Deletes the specified SLA."
      operationId: "Sla_DeleteSla"
      parameters:
      - name: "slaGuid"
        in: "path"
        description: "The Guid of the SLA definition that should be deleted."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "SlaGuid"
      security:
      - basicauth:
        - ""
      responses:
        "204":
          description: "The request completed successfully."
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "403":
          description: "One or more validation errors occurred."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "404":
          description: "The specified SLA does not exist."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
    patch:
      tags:
      - "SLA"
      summary: "Partially updates the definition of the specified SLA."
      description: "This methods accepts parts of a SLA definition. We recommend retrieving\
        \ the existing definition first (using the GET method). You can then process\
        \ the changes you want to make and send back these changes only using this\
        \ PATCH method."
      operationId: "Sla_PatchSla"
      parameters:
      - in: "body"
        name: "sla"
        description: "The partial definition for the SLA that should be updated."
        required: false
        schema:
          $ref: "#/definitions/Sla"
        x-nullable: true
        x-exportParamName: "Sla"
      - name: "slaGuid"
        in: "path"
        description: "The Guid of the SLA that should be updated."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "SlaGuid"
      security:
      - basicauth:
        - ""
      responses:
        "204":
          description: "The request was successful. No content is returned."
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "404":
          description: "The specified SLA does not exist."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
  /Sla/{slaGuid}/ExclusionPeriod:
    get:
      tags:
      - "SLA"
      summary: "Gets a list of all exclusion periods for the specified SLA."
      operationId: "Sla_GetExclusionPeriods"
      parameters:
      - name: "slaGuid"
        in: "path"
        description: "The Guid of the SLA definition."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "SlaGuid"
      security:
      - basicauth:
        - ""
      responses:
        "200":
          description: "The request completed successfully."
          schema:
            type: "array"
            items:
              $ref: "#/definitions/ExclusionPeriod"
          x-nullable: false
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "404":
          description: "The specified SLA does not exist."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
    post:
      tags:
      - "SLA"
      summary: "Creates a new exclusion period for the specified SLA."
      operationId: "Sla_PostExclusionPeriod"
      parameters:
      - in: "body"
        name: "exclusionPeriod"
        description: "The complete definition of the exclusion period."
        required: false
        schema:
          $ref: "#/definitions/ExclusionPeriod"
        x-nullable: true
        x-exportParamName: "ExclusionPeriod"
      - name: "slaGuid"
        in: "path"
        description: "The Guid of the SLA definition."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "SlaGuid"
      security:
      - basicauth:
        - ""
      responses:
        "201":
          description: "The request completed successfully."
          schema:
            $ref: "#/definitions/ExclusionPeriod"
          x-nullable: false
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "404":
          description: "The specified SLA does not exist."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
  /Sla/{slaGuid}/ExclusionPeriod/{exclusionPeriodId}:
    get:
      tags:
      - "SLA"
      summary: "Gets the specified exclusion period for the specified SLA."
      operationId: "Sla_GetExclusionPeriod"
      parameters:
      - name: "slaGuid"
        in: "path"
        description: "The Guid of the SLA definition."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "SlaGuid"
      - name: "exclusionPeriodId"
        in: "path"
        description: "The id of the exclusion period."
        required: true
        type: "integer"
        format: "int32"
        x-nullable: false
        x-exportParamName: "ExclusionPeriodId"
      security:
      - basicauth:
        - ""
      responses:
        "200":
          description: "The request completed successfully."
          schema:
            $ref: "#/definitions/ExclusionPeriod"
          x-nullable: false
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "404":
          description: "The specified SLA does not exist.\nor\nThe specified exclusion\
            \ period does not exist."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
          x-expectedSchemas:
          - description: "The specified SLA does not exist."
            schema:
              $ref: "#/definitions/MessageList"
          - description: "The specified exclusion period does not exist."
            schema:
              $ref: "#/definitions/MessageList"
    put:
      tags:
      - "SLA"
      summary: "Updates the specified exclusion period for the specified SLA."
      operationId: "Sla_PutExclusionPeriod"
      parameters:
      - name: "slaGuid"
        in: "path"
        description: "The Guid of the SLA definition."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "SlaGuid"
      - name: "exclusionPeriodId"
        in: "path"
        description: "The id of the exclusion period."
        required: true
        type: "integer"
        format: "int32"
        x-nullable: false
        x-exportParamName: "ExclusionPeriodId"
      - in: "body"
        name: "exclusionPeriod"
        description: "The complete definition of the exclusion period."
        required: false
        schema:
          $ref: "#/definitions/ExclusionPeriod"
        x-nullable: true
        x-exportParamName: "ExclusionPeriod"
      security:
      - basicauth:
        - ""
      responses:
        "204":
          description: "The request completed successfully."
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "404":
          description: "The specified SLA does not exist.\nor\nThe specified exclusion\
            \ period does not exist."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
          x-expectedSchemas:
          - description: "The specified SLA does not exist."
            schema:
              $ref: "#/definitions/MessageList"
          - description: "The specified exclusion period does not exist."
            schema:
              $ref: "#/definitions/MessageList"
    delete:
      tags:
      - "SLA"
      summary: "Deletes the specified exclusion period for the specified SLA."
      operationId: "Sla_DeleteExclusionPeriod"
      parameters:
      - name: "slaGuid"
        in: "path"
        description: "The Guid of the sla definition."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "SlaGuid"
      - name: "exclusionPeriodId"
        in: "path"
        description: "The id of the exclusion period."
        required: true
        type: "integer"
        format: "int32"
        x-nullable: false
        x-exportParamName: "ExclusionPeriodId"
      security:
      - basicauth:
        - ""
      responses:
        "204":
          description: "The request completed successfully."
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "404":
          description: "The specified SLA does not exist.\nor\nThe specified exclusion\
            \ period does not exist."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
          x-expectedSchemas:
          - description: "The specified SLA does not exist."
            schema:
              $ref: "#/definitions/MessageList"
          - description: "The specified exclusion period does not exist."
            schema:
              $ref: "#/definitions/MessageList"
    patch:
      tags:
      - "SLA"
      summary: "Partially updates the specified exclusion period for the specified\
        \ SLA."
      operationId: "Sla_PatchExclusionPeriod"
      parameters:
      - name: "slaGuid"
        in: "path"
        description: "The Guid of the SLA definition."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "SlaGuid"
      - name: "exclusionPeriodId"
        in: "path"
        description: "The id of the exclusion period."
        required: true
        type: "integer"
        format: "int32"
        x-nullable: false
        x-exportParamName: "ExclusionPeriodId"
      - in: "body"
        name: "exclusionPeriod"
        description: "The complete definition of the exclusion period."
        required: false
        schema:
          $ref: "#/definitions/ExclusionPeriod"
        x-nullable: true
        x-exportParamName: "ExclusionPeriod"
      security:
      - basicauth:
        - ""
      responses:
        "204":
          description: "The request completed successfully."
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "404":
          description: "The specified SLA does not exist.\nor\nThe specified exclusion\
            \ period does not exist."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
          x-expectedSchemas:
          - description: "The specified SLA does not exist."
            schema:
              $ref: "#/definitions/MessageList"
          - description: "The specified exclusion period does not exist."
            schema:
              $ref: "#/definitions/MessageList"
  /Statistics/Monitor/{monitorGuid}:
    get:
      tags:
      - "Statistics"
      summary: "Gets the monitor statistics."
      operationId: "Statistics_GetMonitorStatistics"
      parameters:
      - name: "monitorGuid"
        in: "path"
        description: "The Guid of the monitor."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "MonitorGuid"
      - name: "Filter"
        in: "query"
        description: "The filter for the requested response fields. E.g. \"Alerts,SlaTarget\"\
          ."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "Filter"
        x-optionalDataType: "String"
      - name: "Start"
        in: "query"
        description: "The start of a custom period (can't be used together with the\
          \ PresetPeriod parameter)"
        required: false
        x-nullable: true
        x-exportParamName: "Start"
      - name: "End"
        in: "query"
        description: "The end of a custom period"
        required: false
        x-nullable: true
        x-exportParamName: "End"
      - name: "PresetPeriod"
        in: "query"
        description: "The requested time period."
        required: false
        type: "string"
        default: "Last24Hours"
        enum:
        - "CurrentDay"
        - "CurrentWeek"
        - "CurrentMonth"
        - "CurrentQuarter"
        - "CurrentYear"
        - "PreviousDay"
        - "PreviousWeek"
        - "PreviousMonth"
        - "PreviousQuarter"
        - "PreviousYear"
        - "Last2Hours"
        - "Last6Hours"
        - "Last12Hours"
        - "Last24Hours"
        - "Last48Hours"
        - "Last7Days"
        - "Last30Days"
        - "Last60Days"
        - "Last90Days"
        - "Last365Days"
        - "Last3Months"
        - "Last6Months"
        - "Last12Months"
        - "Last24Months"
        - "All"
        x-schema:
          $ref: "#/definitions/PresetPeriodType"
        x-nullable: true
        x-exportParamName: "PresetPeriod"
        x-optionalDataType: "String"
      security:
      - basicauth:
        - ""
      responses:
        "200":
          description: "The request completed successfully."
          schema:
            $ref: "#/definitions/StatisticsResponse"
          x-nullable: false
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageInfo"
          x-nullable: false
        "404":
          description: "The monitor could not be found."
          schema:
            $ref: "#/definitions/MessageInfo"
          x-nullable: false
  /Statistics/MonitorGroup/{monitorGroupGuid}:
    get:
      tags:
      - "Statistics"
      summary: "Gets the monitor group statistics."
      operationId: "Statistics_GetMonitorGroupStatistics"
      parameters:
      - name: "monitorGroupGuid"
        in: "path"
        description: "The Guid of the monitor group."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "MonitorGroupGuid"
      - name: "Filter"
        in: "query"
        description: "The filter for the requested response fields. E.g. \"Alerts,SlaTarget\"\
          ."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "Filter"
        x-optionalDataType: "String"
      - name: "Start"
        in: "query"
        description: "The start of a custom period (can't be used together with the\
          \ PresetPeriod parameter)"
        required: false
        x-nullable: true
        x-exportParamName: "Start"
      - name: "End"
        in: "query"
        description: "The end of a custom period"
        required: false
        x-nullable: true
        x-exportParamName: "End"
      - name: "PresetPeriod"
        in: "query"
        description: "The requested time period."
        required: false
        type: "string"
        default: "Last24Hours"
        enum:
        - "CurrentDay"
        - "CurrentWeek"
        - "CurrentMonth"
        - "CurrentQuarter"
        - "CurrentYear"
        - "PreviousDay"
        - "PreviousWeek"
        - "PreviousMonth"
        - "PreviousQuarter"
        - "PreviousYear"
        - "Last2Hours"
        - "Last6Hours"
        - "Last12Hours"
        - "Last24Hours"
        - "Last48Hours"
        - "Last7Days"
        - "Last30Days"
        - "Last60Days"
        - "Last90Days"
        - "Last365Days"
        - "Last3Months"
        - "Last6Months"
        - "Last12Months"
        - "Last24Months"
        - "All"
        x-schema:
          $ref: "#/definitions/PresetPeriodType"
        x-nullable: true
        x-exportParamName: "PresetPeriod"
        x-optionalDataType: "String"
      security:
      - basicauth:
        - ""
      responses:
        "200":
          description: "The request completed successfully."
          schema:
            $ref: "#/definitions/StatisticsResponse"
          x-nullable: false
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageInfo"
          x-nullable: false
        "404":
          description: "The monitor group could not be found."
          schema:
            $ref: "#/definitions/MessageInfo"
          x-nullable: false
  /Alert/Monitor/{monitorGuid}:
    get:
      tags:
      - "Alert"
      summary: "Returns alerts for a specific monitor."
      operationId: "Alert_GetMonitorAlerts"
      parameters:
      - name: "monitorGuid"
        in: "path"
        description: "The Guid of the monitor to get alerts for."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "MonitorGuid"
      - name: "IncludeReminders"
        in: "query"
        description: "When true reminder alerts will be included in the results"
        required: false
        type: "boolean"
        default: false
        x-nullable: false
        x-exportParamName: "IncludeReminders"
        x-optionalDataType: "Bool"
      - name: "Cursor"
        in: "query"
        description: "A cursor value that should be used for traversing the dataset."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "Cursor"
        x-optionalDataType: "String"
      - name: "Sorting"
        in: "query"
        description: "Sorting direction based on timestamp."
        required: false
        type: "string"
        default: "Descending"
        enum:
        - "Ascending"
        - "Descending"
        x-schema:
          $ref: "#/definitions/SortDirection"
        x-nullable: false
        x-exportParamName: "Sorting"
        x-optionalDataType: "String"
      - name: "Take"
        in: "query"
        description: "The number of records to return (Max value = 100)"
        required: false
        type: "integer"
        default: 100
        maximum: 100.0
        minimum: 0.0
        format: "int32"
        x-nullable: false
        x-exportParamName: "Take"
        x-optionalDataType: "Int32"
      - name: "Start"
        in: "query"
        description: "The start of a custom period (can't be used together with the\
          \ PresetPeriod parameter)"
        required: false
        x-nullable: true
        x-exportParamName: "Start"
      - name: "End"
        in: "query"
        description: "The end of a custom period"
        required: false
        x-nullable: true
        x-exportParamName: "End"
      - name: "PresetPeriod"
        in: "query"
        description: "The requested time period."
        required: false
        type: "string"
        default: "Last24Hours"
        enum:
        - "CurrentDay"
        - "CurrentWeek"
        - "CurrentMonth"
        - "CurrentQuarter"
        - "CurrentYear"
        - "PreviousDay"
        - "PreviousWeek"
        - "PreviousMonth"
        - "PreviousQuarter"
        - "PreviousYear"
        - "Last2Hours"
        - "Last6Hours"
        - "Last12Hours"
        - "Last24Hours"
        - "Last48Hours"
        - "Last7Days"
        - "Last30Days"
        - "Last60Days"
        - "Last90Days"
        - "Last365Days"
        - "Last3Months"
        - "Last6Months"
        - "Last12Months"
        - "Last24Months"
        - "All"
        x-schema:
          $ref: "#/definitions/PresetPeriodType"
        x-nullable: true
        x-exportParamName: "PresetPeriod"
        x-optionalDataType: "String"
      security:
      - basicauth:
        - ""
      responses:
        "200":
          description: "The request completed successfully."
          schema:
            $ref: "#/definitions/AlertResponse"
          x-nullable: false
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "404":
          description: "The specified Monitor for monitorGuid does not exist."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
  /Alert/MonitorGroup/{monitorGroupGuid}:
    get:
      tags:
      - "Alert"
      summary: "Returns alerts for a specific monitor group."
      operationId: "Alert_GetMonitorGroupAlerts"
      parameters:
      - name: "monitorGroupGuid"
        in: "path"
        description: "The Guid of the monitor group to get alerts for."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "MonitorGroupGuid"
      - name: "IncludeReminders"
        in: "query"
        description: "When true reminder alerts will be included in the results"
        required: false
        type: "boolean"
        default: false
        x-nullable: false
        x-exportParamName: "IncludeReminders"
        x-optionalDataType: "Bool"
      - name: "Cursor"
        in: "query"
        description: "A cursor value that should be used for traversing the dataset."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "Cursor"
        x-optionalDataType: "String"
      - name: "Sorting"
        in: "query"
        description: "Sorting direction based on timestamp."
        required: false
        type: "string"
        default: "Descending"
        enum:
        - "Ascending"
        - "Descending"
        x-schema:
          $ref: "#/definitions/SortDirection"
        x-nullable: false
        x-exportParamName: "Sorting"
        x-optionalDataType: "String"
      - name: "Take"
        in: "query"
        description: "The number of records to return (Max value = 100)"
        required: false
        type: "integer"
        default: 100
        maximum: 100.0
        minimum: 0.0
        format: "int32"
        x-nullable: false
        x-exportParamName: "Take"
        x-optionalDataType: "Int32"
      - name: "Start"
        in: "query"
        description: "The start of a custom period (can't be used together with the\
          \ PresetPeriod parameter)"
        required: false
        x-nullable: true
        x-exportParamName: "Start"
      - name: "End"
        in: "query"
        description: "The end of a custom period"
        required: false
        x-nullable: true
        x-exportParamName: "End"
      - name: "PresetPeriod"
        in: "query"
        description: "The requested time period."
        required: false
        type: "string"
        default: "Last24Hours"
        enum:
        - "CurrentDay"
        - "CurrentWeek"
        - "CurrentMonth"
        - "CurrentQuarter"
        - "CurrentYear"
        - "PreviousDay"
        - "PreviousWeek"
        - "PreviousMonth"
        - "PreviousQuarter"
        - "PreviousYear"
        - "Last2Hours"
        - "Last6Hours"
        - "Last12Hours"
        - "Last24Hours"
        - "Last48Hours"
        - "Last7Days"
        - "Last30Days"
        - "Last60Days"
        - "Last90Days"
        - "Last365Days"
        - "Last3Months"
        - "Last6Months"
        - "Last12Months"
        - "Last24Months"
        - "All"
        x-schema:
          $ref: "#/definitions/PresetPeriodType"
        x-nullable: true
        x-exportParamName: "PresetPeriod"
        x-optionalDataType: "String"
      security:
      - basicauth:
        - ""
      responses:
        "200":
          description: "The request completed successfully."
          schema:
            $ref: "#/definitions/AlertResponse"
          x-nullable: false
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "404":
          description: "The specified Monitor Group for monitorGroupGuid does not\
            \ exist."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
  /Integration:
    get:
      tags:
      - "Integration"
      summary: "Gets a list of all integrations."
      operationId: "Integration_GetAllIntegrations"
      parameters: []
      security:
      - basicauth:
        - ""
      responses:
        "200":
          description: "The request completed successfully."
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Integration"
          x-nullable: false
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
  /Integration/{integrationGuid}/Authorizations:
    get:
      tags:
      - "Integration"
      summary: "Get authorizations of integration"
      operationId: "Integration_GetAuthorizationsOfIntegration"
      parameters:
      - name: "integrationGuid"
        in: "path"
        description: "The intregration GUID"
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "IntegrationGuid"
      security:
      - basicauth:
        - ""
      responses:
        "200":
          description: "The request completed successfully."
          schema:
            type: "array"
            items:
              $ref: "#/definitions/IntegrationAuthorization"
          x-nullable: false
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "404":
          description: "The requested integration was not found."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
    post:
      tags:
      - "Integration"
      summary: "Create authorizations for integration\nIf the wanted authorizations\
        \ requires other authorizations, these will be added as well"
      operationId: "Integration_CreateAuthorizationForIntegration"
      parameters:
      - in: "body"
        name: "integrationAuthorization"
        description: "Authorization to add"
        required: false
        schema:
          $ref: "#/definitions/IntegrationAuthorization"
        x-nullable: true
        x-exportParamName: "IntegrationAuthorization"
      - name: "integrationGuid"
        in: "path"
        description: "The integration GUID"
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "IntegrationGuid"
      security:
      - basicauth:
        - ""
      responses:
        "200":
          description: "The request completed successfully."
          schema:
            type: "array"
            items:
              $ref: "#/definitions/IntegrationAuthorization"
          x-nullable: false
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "404":
          description: "The requested integration was not found."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
  /Integration/{integrationGuid}/Authorizations/{authorizationGuid}:
    delete:
      tags:
      - "Integration"
      summary: "Delete integration authorization for integration"
      operationId: "Integration_DeleteAuthorizationForIntegration"
      parameters:
      - name: "integrationGuid"
        in: "path"
        description: "The integration GUID"
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "IntegrationGuid"
      - name: "authorizationGuid"
        in: "path"
        description: "The authorization GUID that needs to be deleted"
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "AuthorizationGuid"
      security:
      - basicauth:
        - ""
      responses:
        "204":
          description: "The request completed successfully. No content is returned."
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "404":
          description: "The requested integration or authorization was not found."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
  /Status/Monitor/{monitorGuid}:
    get:
      tags:
      - "Status"
      summary: "Gets all monitor status data."
      operationId: "Status_GetMonitorStatus"
      parameters:
      - name: "monitorGuid"
        in: "path"
        description: "The Guid of the monitor."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "MonitorGuid"
      security:
      - basicauth:
        - ""
      responses:
        "200":
          description: "The request completed successfully."
          schema:
            $ref: "#/definitions/MonitorStatusResponse"
          x-nullable: false
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "404":
          description: "The monitor could not be found."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
  /Status/MonitorGroup/{monitorGroupGuid}:
    get:
      tags:
      - "Status"
      summary: "Gets a list of all monitor group status data."
      operationId: "Status_GetMonitorGroupStatus"
      parameters:
      - name: "monitorGroupGuid"
        in: "path"
        description: "The Guid of the monitor group."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "MonitorGroupGuid"
      - name: "skip"
        in: "query"
        description: "The number of monitors in the monitor group that should be skipped."
        required: false
        type: "integer"
        default: 0
        format: "int32"
        x-nullable: false
        x-exportParamName: "Skip"
        x-optionalDataType: "Int32"
      - name: "take"
        in: "query"
        description: "The maximum number of monitors in the monitor group to get data\
          \ from."
        required: false
        type: "integer"
        default: 10000
        format: "int32"
        x-nullable: false
        x-exportParamName: "Take"
        x-optionalDataType: "Int32"
      security:
      - basicauth:
        - ""
      responses:
        "200":
          description: "The request completed successfully."
          schema:
            $ref: "#/definitions/MonitorStatusListResponse"
          x-nullable: false
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "404":
          description: "The monitor group could not be found."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
  /AlertDefinition:
    get:
      tags:
      - "AlertDefinition"
      summary: "Gets a list of all alert definitions."
      operationId: "AlertDefinition_GetAllAlertDefinitions"
      parameters: []
      security:
      - basicauth:
        - ""
      responses:
        "200":
          description: "The request completed successfully."
          schema:
            type: "array"
            items:
              $ref: "#/definitions/AlertDefinition"
          x-nullable: false
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "403":
          description: "One or more validation errors occurred."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
    post:
      tags:
      - "AlertDefinition"
      summary: "Creates a new alert definition."
      operationId: "AlertDefinition_CreateAlertDefinition"
      parameters:
      - in: "body"
        name: "alertDefinition"
        description: "The details of the alert definition to create."
        required: false
        schema:
          $ref: "#/definitions/AlertDefinition"
        x-nullable: true
        x-exportParamName: "AlertDefinition"
      security:
      - basicauth:
        - ""
      responses:
        "201":
          description: "The request completed successfully."
          schema:
            $ref: "#/definitions/AlertDefinition"
          x-nullable: false
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "403":
          description: "One or more validation errors occurred."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
  /AlertDefinition/{alertDefinitionGuid}:
    get:
      tags:
      - "AlertDefinition"
      summary: "Gets the specified alert definition."
      operationId: "AlertDefinition_GetSpecifiedAlertDefinitions"
      parameters:
      - name: "alertDefinitionGuid"
        in: "path"
        description: "The Guid of the alert definition."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "AlertDefinitionGuid"
      security:
      - basicauth:
        - ""
      responses:
        "200":
          description: "The request completed successfully."
          schema:
            $ref: "#/definitions/AlertDefinition"
          x-nullable: false
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "403":
          description: "One or more validation errors occurred."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
    put:
      tags:
      - "AlertDefinition"
      summary: "Updates the definition for the specified alert definition."
      description: "This methods only accepts a complete alert definition where all\
        \ fields are specified."
      operationId: "AlertDefinition_PutAlertDefinition"
      parameters:
      - in: "body"
        name: "alertDefinition"
        description: "The partial definition for the alert definition that should\
          \ be updated."
        required: false
        schema:
          $ref: "#/definitions/AlertDefinition"
        x-nullable: true
        x-exportParamName: "AlertDefinition"
      - name: "alertDefinitionGuid"
        in: "path"
        description: "The Guid of the alert definition that should be updated."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "AlertDefinitionGuid"
      security:
      - basicauth:
        - ""
      responses:
        "204":
          description: "The request completed successfully. No content is returned."
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "403":
          description: "One or more validation errors occurred."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "404":
          description: "The specified alert definition could not be found."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
    delete:
      tags:
      - "AlertDefinition"
      summary: "Deletes an existing alert definition."
      operationId: "AlertDefinition_DeleteAlertDefinition"
      parameters:
      - name: "alertDefinitionGuid"
        in: "path"
        description: "The Guid of the alert definition to remove."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "AlertDefinitionGuid"
      security:
      - basicauth:
        - ""
      responses:
        "204":
          description: "The request completed successfully. No content is returned."
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "403":
          description: "One or more validation errors occurred."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "404":
          description: "The specified alert definition could not be found."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
    patch:
      tags:
      - "AlertDefinition"
      summary: "Partially updates the definition for the specified alert definition."
      description: "This methods accepts parts of an alert definition. Fields that\
        \ do not require changes can be omitted."
      operationId: "AlertDefinition_PatchAlertDefinition"
      parameters:
      - in: "body"
        name: "alertDefinition"
        description: "The partial definition for the alert definition that should\
          \ be updated."
        required: false
        schema:
          $ref: "#/definitions/AlertDefinition"
        x-nullable: true
        x-exportParamName: "AlertDefinition"
      - name: "alertDefinitionGuid"
        in: "path"
        description: "The Guid of the alert definition that should be updated."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "AlertDefinitionGuid"
      security:
      - basicauth:
        - ""
      responses:
        "204":
          description: "The request completed successfully. No content is returned."
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "403":
          description: "One or more validation errors occurred."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "404":
          description: "The specified alert definition could not be found."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
  /AlertDefinition/{alertDefinitionGuid}/Member:
    get:
      tags:
      - "AlertDefinition"
      summary: "Gets a list of all monitor and monitor group guids for the specified\
        \ alert definition."
      operationId: "AlertDefinition_GetAllMembers"
      parameters:
      - name: "alertDefinitionGuid"
        in: "path"
        description: "The Guid of the alert definition for which to return the members."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "AlertDefinitionGuid"
      security:
      - basicauth:
        - ""
      responses:
        "200":
          description: "The request completed successfully."
          schema:
            type: "array"
            items:
              $ref: "#/definitions/AlertDefinitionMember"
          x-nullable: false
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "403":
          description: "One or more validation errors occurred."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "404":
          description: "The specified alert definition could not be found."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
  /AlertDefinition/{alertDefinitionGuid}/Member/Monitor/{monitorGuid}:
    post:
      tags:
      - "AlertDefinition"
      summary: "Adds a monitor to the specified alert definition."
      operationId: "AlertDefinition_AddMonitorToAlertDefinition"
      parameters:
      - name: "alertDefinitionGuid"
        in: "path"
        description: "The Guid of the alert definition to modify."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "AlertDefinitionGuid"
      - name: "monitorGuid"
        in: "path"
        description: "The Guid of the monitor to add."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "MonitorGuid"
      security:
      - basicauth:
        - ""
      responses:
        "201":
          description: "The request completed successfully."
          schema:
            $ref: "#/definitions/AlertDefinitionMonitor"
          x-nullable: false
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "403":
          description: "One or more validation errors occurred."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "404":
          description: "One or more of the specified entities could not be found."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
    delete:
      tags:
      - "AlertDefinition"
      summary: "Removes a monitor for the specified alert definition."
      operationId: "AlertDefinition_RemoveMonitorFromAlertDefinition"
      parameters:
      - name: "alertDefinitionGuid"
        in: "path"
        description: "The Guid of the alert definition to modify."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "AlertDefinitionGuid"
      - name: "monitorGuid"
        in: "path"
        description: "The Guid of the monitor to remove."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "MonitorGuid"
      security:
      - basicauth:
        - ""
      responses:
        "204":
          description: "The request completed successfully. No content is returned."
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "403":
          description: "One or more validation errors occurred."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "404":
          description: "One or more of the specified entities could not be found."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
  /AlertDefinition/{alertDefinitionGuid}/Member/MonitorGroup/{monitorGroupGuid}:
    post:
      tags:
      - "AlertDefinition"
      summary: "Adds a monitor group to the specified alert definition."
      operationId: "AlertDefinition_AddMonitorGroupToAlertDefinition"
      parameters:
      - name: "alertDefinitionGuid"
        in: "path"
        description: "The Guid of the alert definition to modify."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "AlertDefinitionGuid"
      - name: "monitorGroupGuid"
        in: "path"
        description: "The Guid of the monitor group to add."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "MonitorGroupGuid"
      security:
      - basicauth:
        - ""
      responses:
        "201":
          description: "The request completed successfully."
          schema:
            $ref: "#/definitions/AlertDefinitionMonitorGroup"
          x-nullable: false
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "403":
          description: "One or more validation errors occurred."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "404":
          description: "One or more of the specified entities could not be found."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
    delete:
      tags:
      - "AlertDefinition"
      summary: "Removes a monitor group for the specified alert definition."
      operationId: "AlertDefinition_RemoveMonitorGroupFromAlertDefinition"
      parameters:
      - name: "alertDefinitionGuid"
        in: "path"
        description: "The Guid of the alert definition to modify."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "AlertDefinitionGuid"
      - name: "monitorGroupGuid"
        in: "path"
        description: "The Guid of the monitor group to remove."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "MonitorGroupGuid"
      security:
      - basicauth:
        - ""
      responses:
        "204":
          description: "The request completed successfully. No content is returned."
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "403":
          description: "One or more validation errors occurred."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "404":
          description: "One or more of the specified entities could not be found."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
  /AlertDefinition/{alertDefinitionGuid}/EscalationLevel/{escalationLevelId}:
    get:
      tags:
      - "AlertDefinition"
      summary: "Gets the escalation level information of the specified alert definition."
      operationId: "AlertDefinition_GetEscalationLevel"
      parameters:
      - name: "alertDefinitionGuid"
        in: "path"
        description: "The Guid of the alert definition."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "AlertDefinitionGuid"
      - name: "escalationLevelId"
        in: "path"
        description: "The escalation level id."
        required: true
        type: "integer"
        x-nullable: false
        x-exportParamName: "EscalationLevelId"
      security:
      - basicauth:
        - ""
      responses:
        "200":
          description: "The request completed successfully."
          schema:
            $ref: "#/definitions/EscalationLevel"
          x-nullable: false
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "403":
          description: "One or more validation errors occurred."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "404":
          description: "One or more of the specified entities could not be found."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
    put:
      tags:
      - "AlertDefinition"
      summary: "Updates the escalation level for the specified alert definition."
      description: "This methods only accepts a complete alert definition where all\
        \ fields are specified."
      operationId: "AlertDefinition_PutAlertDefinitionEscalation"
      parameters:
      - name: "alertDefinitionGuid"
        in: "path"
        description: "The Guid of the alert definition that should be updated."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "AlertDefinitionGuid"
      - name: "escalationLevelId"
        in: "path"
        description: "The level number of the escalation that should be updated."
        required: true
        type: "integer"
        x-nullable: false
        x-exportParamName: "EscalationLevelId"
      - in: "body"
        name: "escalationLevel"
        description: "The escalation level for the alert definition that should be\
          \ updated."
        required: false
        schema:
          $ref: "#/definitions/EscalationLevel"
        x-nullable: true
        x-exportParamName: "EscalationLevel"
      security:
      - basicauth:
        - ""
      responses:
        "204":
          description: "The request completed successfully. No content is returned."
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "403":
          description: "One or more validation errors occurred."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "404":
          description: "The specified alert definition could not be found."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
    patch:
      tags:
      - "AlertDefinition"
      summary: "Partially updates the escalation level for the specified alert definition."
      description: "This methods only accepts a complete alert definition where all\
        \ fields are specified."
      operationId: "AlertDefinition_PatchAlertDefinitionEscalation"
      parameters:
      - name: "alertDefinitionGuid"
        in: "path"
        description: "The Guid of the alert definition that should be updated."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "AlertDefinitionGuid"
      - name: "escalationLevelId"
        in: "path"
        description: "The level number of the escalation that should be updated."
        required: true
        type: "integer"
        x-nullable: false
        x-exportParamName: "EscalationLevelId"
      - in: "body"
        name: "escalationLevel"
        description: "The escalation level for the alert definition that should be\
          \ updated."
        required: false
        schema:
          $ref: "#/definitions/EscalationLevel"
        x-nullable: true
        x-exportParamName: "EscalationLevel"
      security:
      - basicauth:
        - ""
      responses:
        "204":
          description: "The request completed successfully. No content is returned."
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "403":
          description: "One or more validation errors occurred."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "404":
          description: "The specified alert definition could not be found."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
  /AlertDefinition/{alertDefinitionGuid}/EscalationLevel:
    get:
      tags:
      - "AlertDefinition"
      summary: "Gets all escalation level information for the specified alert definition."
      operationId: "AlertDefinition_GetAllEscalationLevels"
      parameters:
      - name: "alertDefinitionGuid"
        in: "path"
        description: "The Guid of the alert definition for which to return all escalation\
          \ levels."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "AlertDefinitionGuid"
      security:
      - basicauth:
        - ""
      responses:
        "200":
          description: "The request completed successfully."
          schema:
            type: "array"
            items:
              $ref: "#/definitions/EscalationLevel"
          x-nullable: false
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "403":
          description: "One or more validation errors occurred."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "404":
          description: "One or more of the specified entities could not be found."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
  /AlertDefinition/{alertDefinitionGuid}/EscalationLevel/{escalationLevelId}/Member:
    get:
      tags:
      - "AlertDefinition"
      summary: "Gets the operator and operator group guids for the specified escalation\
        \ level."
      operationId: "AlertDefinition_GetEscalationLevelOperator"
      parameters:
      - name: "alertDefinitionGuid"
        in: "path"
        description: "The Guid of the alert definition."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "AlertDefinitionGuid"
      - name: "escalationLevelId"
        in: "path"
        description: "The escalation level id."
        required: true
        type: "integer"
        x-nullable: false
        x-exportParamName: "EscalationLevelId"
      security:
      - basicauth:
        - ""
      responses:
        "200":
          description: "The request completed successfully."
          schema:
            type: "array"
            items:
              $ref: "#/definitions/AlertEscalationLevelMember"
          x-nullable: false
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "403":
          description: "One or more validation errors occurred."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "404":
          description: "One or more of the specified entities could not be found."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
  /AlertDefinition/{alertDefinitionGuid}/EscalationLevel/{escalationLevelId}/Member/Operator/{operatorGuid}:
    post:
      tags:
      - "AlertDefinition"
      summary: "Adds an operator to the specified escalation level."
      operationId: "AlertDefinition_AddOperatorToEscalationLevel"
      parameters:
      - name: "alertDefinitionGuid"
        in: "path"
        description: "The Guid of the alert definition."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "AlertDefinitionGuid"
      - name: "escalationLevelId"
        in: "path"
        description: "The escalation level id."
        required: true
        type: "integer"
        x-nullable: false
        x-exportParamName: "EscalationLevelId"
      - name: "operatorGuid"
        in: "path"
        description: "The Guid of the operator to add."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "OperatorGuid"
      security:
      - basicauth:
        - ""
      responses:
        "201":
          description: "The request completed successfully."
          schema:
            $ref: "#/definitions/AlertDefinitionOperator"
          x-nullable: false
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "403":
          description: "One or more validation errors occurred."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "404":
          description: "One or more of the specified entities could not be found."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
    delete:
      tags:
      - "AlertDefinition"
      summary: "Removes an operator for the specified escalation level."
      operationId: "AlertDefinition_RemoveOperatorFromEscalationLevel"
      parameters:
      - name: "alertDefinitionGuid"
        in: "path"
        description: "The Guid of the alert definition."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "AlertDefinitionGuid"
      - name: "escalationLevelId"
        in: "path"
        description: "The escalation level id."
        required: true
        type: "integer"
        x-nullable: false
        x-exportParamName: "EscalationLevelId"
      - name: "operatorGuid"
        in: "path"
        description: "The Guid of the operator to remove."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "OperatorGuid"
      security:
      - basicauth:
        - ""
      responses:
        "204":
          description: "The request completed successfully. No content is returned."
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "403":
          description: "One or more validation errors occurred."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "404":
          description: "One or more of the specified entities could not be found."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
[...]
